language: "node_js"
node_js:
  - "node"
  - "8"
  - "10"
  - "12"
services:
  - docker
os:
  - linux
before_script:
  - ./scripts/run_couchdb_on_travis.sh
after_script:
  - ./scripts/stop_couchdb_on_travis.sh
before_install:
  - npm update -g npm
